// EXPO CUBIC BEZIERS //

$easeOutExpo   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// SWEET ASS COLOURS FOR HEALTH //

$purple : #7d529f;
$orange : #fb6a2f;
$pink   : #f85074;
$blue   : #6bdbf8;
$yellow : #fff089;
$green  : #6bcb97;
$grey   : #acacac;

// SECONDARY COLOURS //

$product-purple : #a46fac;
$product-lilac  : #9e8ec1;
$product-orange : #ffa535;
$product-pink   : #d61f4e;
$product-blue   : #00aeec;
$product-yellow : #ffb50a;
$product-green  : #a0ce4c;
$product-grey   : #404040;

// FONTS OH YES //
@font-face {
  font-family: Glypha;
  src:  url('fonts/GlyphaBlack.eot?#iefix') format('embedded-opentype'), 
		    url('fonts/GlyphaBlack.woff') format('woff'), 
		    url('fonts/GlyphaBlack.ttf')  format('truetype'),
		    url('fonts/GlyphaBlack.svg#svgFontName') format('svg');
	font-weight: 700;
}

.glypha{ font-family: Glypha }

@font-face {
  font-family: ProximaNova;
  src:  url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), 
		    url('fonts/ProximaNova-Light.woff') format('woff'), 
		    url('fonts/ProximaNova-Light.ttf')  format('truetype'),
		    url('fonts/ProximaNova-Light.svg#svgFontName') format('svg');

	font-weight: 200;
}

@font-face {
  font-family: ProximaNova;
  src:  url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), 
		    url('fonts/ProximaNova-Regular.woff') format('woff'), 
		    url('fonts/ProximaNova-Regular.ttf')  format('truetype'),
		    url('fonts/ProximaNova-Regular.svg#svgFontName') format('svg');

	font-weight: 300;
}

@font-face {
  font-family: ProximaNova;
  src:  url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), 
		    url('fonts/ProximaNova-Semibold.woff') format('woff'), 
		    url('fonts/ProximaNova-Semibold.ttf')  format('truetype'),
		    url('fonts/ProximaNova-Semibold.svg#svgFontName') format('svg');

	font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src:  url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), 
		    url('fonts/ProximaNova-Bold.woff') format('woff'), 
		    url('fonts/ProximaNova-Bold.ttf')  format('truetype'),
		    url('fonts/ProximaNova-Bold.svg#svgFontName') format('svg');

	font-weight: 500;
}

// MIXINS //

@mixin keyframe ($animation_name) {
	@-webkit-keyframes #{$animation_name}{ @content; }
		 @-moz-keyframes #{$animation_name}{ @content; }
					@keyframes #{$animation_name}{ @content; }
}

@mixin animation ($animation, $duration: .5s, $delay: 0s, $count: infinite) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-iteration-count: $count;
    // animation-fill-mode: $fill-mode; /* this prevents the animation from restarting! */
}

// ANIMATIONS //

@include keyframe(hoverAnimation) {
	0%, 100% { transform: translateY(0) } 
	50%			 { transform: translateY(22px) }
}



