// COLOUR BAR OW YES //

.colour-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  height: .25rem;
  width: 100%;

  > div {
    height: .25rem;
    width: 14.28%;
    float: left;
  }

  .purple { background-color: $purple }
  .orange { background-color: $orange }
  .pink   { background-color: $pink   }
  .blue   { background-color: $blue   }
  .yellow { background-color: $yellow }
  .green  { background-color: $green  }
  .grey   { background-color: $grey   }
  .white  { background-color: #fff    }
}

// NAVIGATION BAR //

.bar{
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;

  height: rem-calc(44px);

  border-top: 1px solid #eee;
  background-color: #fff;

  // transform: translateY(rem-calc(44px));
  // transition: all .5s $easeOutExpo;

  &.scrolled{
    transform: translateY(0);
  }

  &.bottom{
    bottom: 0;

    ul{
      margin-left: 0;

      li{
        display: inline-block;
        text-align: center;
        width: 23.5%;

        a{
          font-size: rem-calc(12px);
          padding-top: rem-calc(10px);
          display: block;

          color: #404040;

          i{
            display: block;
            margin-bottom: rem-calc(-3px);
          }
        }
      }
    }
  }
}

// PRODUCT DIRECTIVE //
.product-card{
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0.25em;

  box-shadow: 0 3px 2px #aaa;

  &.simpleessentials60{ 
    h2,
    .dollar-amount{
      color: $product-orange;
    }
  }

  &.basic65{ 
    h2,
    .dollar-amount{
      color: $product-yellow;
    }
  }

  &.heartcaremiddle65{ 
    h2,
    .dollar-amount{
      color: $product-blue;
    }
  }

  &.vitality65{ 
    h2,
    .dollar-amount{
      color: $product-lilac;
    }
  }

  &.high65{ h2, .dollar-amount{ color: $product-purple; } }

  header{
    border-bottom: 1px solid #ddd;

    h2{
      margin: .7em 0;
      font-weight: 600;
    }
  }

  p.panel{
    border-left: none;
    border-right: none;
    font-size: .8em;

    &.pink{ color: $pink; }
    &.orange{ color: $orange; }
    &.green{ color: $green; }
  }

  p{
    color: #999;
  }

  ul{
    margin-bottom: 1em;

    li{
      font-size: 0.8rem;
    }
  }

  .short-desc{
    margin-top: 1em;
    h4{
      line-height: 1;
      float: left;
      color: #aaa;

      &.priced{
        margin-top: 0;
      }

      em{
        font-size: 0.8rem;
        color: #aaa;
        font-style: none;
      }

      span.dollar-amount{
        font-size: rem-calc(28px);
      }
    }

    p.buttons{
      float: right;
      margin-bottom: 0;
    }
  }

  .details{
    p,
    ul{
      @include grid-column(12);
    }

    table{
      border-left: none;
      border-right: none;
    }

    .tabs-content {
      margin-bottom: 0;
      .content{
        padding-bottom: 0;
      }
    }

    dl.tabs{
      dd{
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
        
        a{
          font-family: ProximaNova;
          text-transform: uppercase;
          font-weight: 400;
        }
        

        &:last-child{
          border-right: none;
        }

        &.active{
          border-bottom: none;
        }
      }
    }
  }

  h4{
    span.q{
      display: none;
    }

    &.priced span{
      display: inline-block;
    }
  }

}

// CONTACT BLOCK //

ul.contact-block{
  margin-left: 0;

  li{
    width: 50%;
    float: left;
    position: relative;
    z-index: 9;

    a{
      display: block;
      text-align: center;
      background-color: $grey;
      color: #fff;

      padding: 1.5em 0;

      &.call      { background-color: $purple; }
      &.email     { background-color: $orange; }
      &.livechat  { background-color: $pink; }
      &.customers { background-color: $blue; }
    }

    &.form{
      width: 100%;
      height: rem-calc(180px);
      float: none;
      clear: both;
      z-index: 8;
      transform: translateY(-170px);
      transition: all .5s $easeOutExpo;

      &.form-visible{
        transform: translateY(0);
      }

      form{
        background-color: $green;
        padding-top: 1em;
        padding-bottom: rem-calc(50px);
        position: relative;

        color: #fff;

        .show-form-button{
          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: rem-calc(50px);

          background-color: rgba(255,255,255,0);
          z-index: 10;

          &:hover{
            background-color: rgba(255,255,255,0.2);
          }
        }

        [type="number"]{
          background: lighten($green, 20);
          box-shadow: none;
          border: none;
          color: darken($green, 30);
          font-size: rem-calc(22px);
        }

        [type="submit"]{
          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: rem-calc(50px);

          border: none;
          background-color: darken($green, 10);
          color: #fff;
          font: rem-calc(24px) ProximaNova;
        }
      }
    }

    &.contact-footer{
      width: 100%;
      text-align: center;
      margin-top: -3.5em;
      position: relative;
      z-index: 7;

      color: #aaa;
      font-size: 2em;
    }
  }
}

// REASONS //
.reasons{
  height: 100%;

  .reason-container{
    height: 50%;
    overflow-y: hidden;
    transform: translateY(0);
    color: #fff;

    &:nth-child(1){ background-color: $purple; }
    &:nth-child(2){ background-color: $orange; }
    &:nth-child(3){ background-color: $pink; }
    &:nth-child(4){ background-color: $blue; }

    &.show-reason .reason{
      transform: translateY(-100%);
    }
  }

  .reason{
    transition: all .5s $easeOutExpo;
    height: 100%;

    font-weight: 500;

    > div{
      height: 100%;
      padding: 1em 0;

      &.first{
        font-size: 1.2em;
      }
    }
  }
}

// PRELOADER //

#fountainG{
position:relative;
width:180px;
height:22px}

.fountainG{
position:absolute;
top:0;
background-color:#AAAAAA;
width:22px;
height:22px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:15px;
}

#fountainG_1{
left:0;
animation-delay:0.52s;
}

#fountainG_2{
left:23px;
animation-delay:0.65s;
}

#fountainG_3{
left:45px;
animation-delay:0.78s;
}

#fountainG_4{
left:68px;
animation-delay:0.91s;
}

#fountainG_5{
left:90px;
animation-delay:1.04s;
}

#fountainG_6{
left:113px;
animation-delay:1.17s;
}

#fountainG_7{
left:135px;
animation-delay:1.3s;
}

#fountainG_8{
left:158px;
animation-delay:1.43s;
}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#AAAAAA;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}