// COLOUR BAR OW YES //

.colour-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  height: .25rem;
  width: 100%;

  > div {
    height: .25rem;
    width: 14.28%;
    float: left;
  }

  .purple { background-color: $purple }
  .orange { background-color: $orange }
  .pink   { background-color: $pink   }
  .blue   { background-color: $blue   }
  .yellow { background-color: $yellow }
  .green  { background-color: $green  }
  .grey   { background-color: $grey   }
  .white  { background-color: #fff    }
}

// NAVIGATION BAR //

.bar{
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;

  height: rem-calc(44px);

  border-top: 1px solid #eee;
  background-color: #fff;

  // transform: translateY(rem-calc(44px));
  // transition: all .5s $easeOutExpo;

  &.scrolled{
    transform: translateY(0);
  }

  &.bottom{
    bottom: 0;

    ul{
      margin-left: 0;

      li{
        display: inline-block;
        text-align: center;
        width: 23.5%;

        a{
          font-size: rem-calc(12px);
          padding-top: rem-calc(10px);
          display: block;

          color: #404040;

          i{
            display: block;
            margin-bottom: rem-calc(-3px);
          }
        }
      }
    }
  }
}

// PRODUCT DIRECTIVE //
.product-card{
  background-color: #404040;
  margin: 0.25em;
  border-radius: 4px;

  h2{
    color: #fff;
    padding: 0.5em 0 0;
  }

  .dollar-amount{
    color: #202020;
  }

  h4{
    em{

    }
  }

  &.simpleessentials60{ 
    background-color: $product-orange;
    color: darken($product-orange, 30);
    .button{ background-color: darken($product-orange, 30) }
    h4, em {
      color: lighten($product-orange, 30);
      .dollar-amount{ color: darken($product-orange, 30) } }
    dd a{ color: darken($product-orange, 30); }
    .tabs-content, dd.active a{background-color: lighten($product-orange, 10)!important;}
    td, th { color: darken($product-orange, 30) }
  }

  &.basic65{ 
    background-color: $product-yellow;
    color: darken($product-yellow, 30);
    .button{ background-color: darken($product-yellow, 30) }
    h4, em {
      color: lighten($product-yellow, 30);
      .dollar-amount{ color: darken($product-yellow, 30) } }
    dd a{ color: darken($product-yellow, 30); }
    .tabs-content, dd.active a{background-color: lighten($product-yellow, 10)!important;}
    td, th { color: darken($product-yellow, 30) }
  }

  &.heartcaremiddle65{ 
    background-color: $product-blue;
    color: darken($product-blue, 30);
    .button{ background-color: darken($product-blue, 30) }
    h4, em {
      color: lighten($product-blue, 30);
      .dollar-amount{ color: darken($product-blue, 30) } }
    dd a{ color: darken($product-blue, 30); }
    .tabs-content, dd.active a{background-color: lighten($product-blue, 10)!important;}
    td, th { color: darken($product-blue, 30) }
  }

  &.vitality65{ 
    background-color: $product-lilac;
    color: darken($product-lilac, 30);
    .button{ background-color: darken($product-lilac, 30) }
    h4, em {
      color: lighten($product-lilac, 30);
      .dollar-amount{ color: darken($product-lilac, 30) } }
    dd a{ color: darken($product-lilac, 30); }
    .tabs-content, dd.active a{background-color: lighten($product-lilac, 10)!important;}
    td, th { color: darken($product-lilac, 30) }
  }

  &.high65{ 
    background-color: $product-purple;
    color: darken($product-purple, 30);
    .button{ background-color: darken($product-purple, 30) }
    h4, em {
      color: lighten($product-purple, 30);
      .dollar-amount{ color: darken($product-purple, 30) } }
    dd a{ color: darken($product-purple, 30); }
    .tabs-content, dd.active a{background-color: lighten($product-purple, 10)!important;}
    td, th { color: darken($product-purple, 30) }
  }


  p.panel{
    border-left: none;
    border-right: none;
    font-size: .8em;

    &.pink{ color: $pink; }
    &.orange{ color: $orange; }
    &.green{ color: $green; }
  }

  p{
    color: #fff;
  }

  ul{
    margin-bottom: 1em;

    li{
      font-size: 0.8rem;
    }
  }

  .short-desc{
    padding-top: 1em;
    h4{
      line-height: 1;
      float: left;

      &.priced{
        margin-top: 0;
      }

      em{
        font-size: 0.8rem;
        font-style: none;
      }

      span.dollar-amount{
        font-size: rem-calc(28px);
      }
    }

    p.buttons{
      float: right;
      margin-bottom: 0;
    }
  }

  .details{
    p,
    ul{
      @include grid-column(12);
    }

    table{
      border: none;
      background-color: transparent;

      thead{
        background-color: transparent;
      }

      tr:nth-child(even),
      th{
        background-color: rgba(255,255,255,0.2);
      }
    }

    .tabs-content {
      margin-bottom: 0;
      border-radius: 4px;
      .content{
        padding-bottom: 0;
      }
    }

    dl.tabs{
      dd{
        width: 50%;
        text-align: center;
        
        a{
          font-family: ProximaNova;
          text-transform: uppercase;
          font-weight: 400;
          background-color: transparent;
          border-radius: 0 4px 0 0;
        }
        

        &:last-child a{
          border-radius: 4px 0 0 0;
        }
      }
    }
  }

  h4{
    span.q{
      display: none;
    }

    &.priced span{
      display: inline-block;
    }
  }

}

// CONTACT BLOCK //

ul.contact-block{
  margin-left: 0;

  li{
    width: 50%;
    float: left;
    position: relative;
    z-index: 9;

    a{
      display: block;
      text-align: center;
      background-color: $grey;
      color: #fff;

      padding: 1.5em 0;

      &.call      { background-color: $purple; border-radius: 4px 0 0 0; }
      &.email     { background-color: $orange; border-radius: 0 4px 0 0; }
      &.livechat  { background-color: $pink; }
      &.customers { background-color: $blue; }
    }

    &.form{
      width: 100%;
      height: rem-calc(180px);
      float: none;
      clear: both;
      z-index: 8;
      transform: translateY(-170px);
      transition: all .5s $easeOutExpo;

      &.form-visible{
        transform: translateY(0);
      }

      form{
        background-color: $green;
        padding-top: 1em;
        padding-bottom: rem-calc(50px);
        position: relative;
        border-radius: 0 0 4px 4px;

        color: #fff;

        .show-form-button{
          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: rem-calc(50px);

          background-color: rgba(255,255,255,0);
          z-index: 10;

          &:hover{
            background-color: rgba(255,255,255,0.2);
          }
        }

        [type="tel"]{
          background: lighten($green, 20);
          box-shadow: none;
          border: none;
          color: darken($green, 30);
          font-size: rem-calc(22px);
        }

        [type="submit"]{
          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: rem-calc(50px);
  
          border-radius: 0 0 4px 4px;
          border: none;
          background-color: darken($green, 10);
          color: #fff;
          font: rem-calc(24px) ProximaNova;
        }
      }
    }

    &.contact-footer{
      width: 100%;
      text-align: center;
      margin-top: -3.5em;
      position: relative;
      z-index: 7;

      color: #aaa;
      font-size: 2em;
    }
  }
}

// REASONS //
.reasons{
  height: 100%;

    reason:nth-child(1){
      > div{ background-color: $purple; }
      .button{ background-color: darken($purple, 30); }
    } 
    reason:nth-child(2){
      > div{ background-color: $orange; }
      .button{ background-color: darken($orange, 30); }
    } 
    reason:nth-child(3){
      > div{ background-color: $pink; }
      .button{ background-color: darken($pink, 30); }
    } 
    reason:nth-child(4){
      > div{ background-color: $blue; }
      .button{ background-color: darken($blue, 30); }
    } 

  .reason-container{
    height: 50%;
    width: 50%;
    float: left;
    overflow-x: hidden;
    transform: translateY(0);
    color: #fff;

    &.show-1 .reason{ transform: translateX(0); }
    &.show-2 .reason{ transform: translateX(-33%); }
    &.show-3 .reason{ transform: translateX(-66%); }
  }

  .reason{
    transition: all .5s $easeOutExpo;
    height: 100%;
    width: 300%;

    font-weight: 500;

    p{
      font-size: 1.2em;
    }

    > div{
      height: 100%;
      width: 33%;
      padding: 1em;
      float: left;
    }
  }
}

// EPHEMERAL MESSAGE

.ephemeral-message{
  position: relative;
  transition: all .3s $easeOutExpo;

  p{ 
    line-height: 1.2; 
    border: 1px solid #eee;
    padding: 0.75em 1em;
    margin-bottom: 1em;}

  span.ephemeral-progress-bar{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #444;
    @include animation(ephemeralProgressBar, 5s, 0s, 1);
    animation-timing-function: linear;

    &.purple { background-color: $purple; }
    &.orange { background-color: $orange; }
    &.pink   { background-color: $pink; }
    &.blue   { background-color: $blue; }
    &.yellow { background-color: $yellow; }
    &.green  { background-color: $green; }
  }

  &.done{
    opacity: 0;
    overflow-y: hidden;

    span.ephemeral-progress-bar{
      width: 100%;
    }
  }
}


// PRELOADER //

#fountainG{
position:relative;
width:180px;
height:22px}

.fountainG{
position:absolute;
top:0;
background-color:#AAAAAA;
width:22px;
height:22px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:15px;
}

#fountainG_1{
left:0;
animation-delay:0.52s;
}

#fountainG_2{
left:23px;
animation-delay:0.65s;
}

#fountainG_3{
left:45px;
animation-delay:0.78s;
}

#fountainG_4{
left:68px;
animation-delay:0.91s;
}

#fountainG_5{
left:90px;
animation-delay:1.04s;
}

#fountainG_6{
left:113px;
animation-delay:1.17s;
}

#fountainG_7{
left:135px;
animation-delay:1.3s;
}

#fountainG_8{
left:158px;
animation-delay:1.43s;
}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#AAAAAA;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}