// GENERAL GENERIC STYLES //

#livechat-compact-container{
  display: none;
}

body, 
html, 
.container{
  height: 100%;
  font-family: ProximaNova;
  font-weight: 300;

  strong{
    font-weight: 500;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: ProximaNova;
}

h1,
h2{
  font-weight: 200;
}

p{
  font-weight: 300;
}

.no-margin{
  margin: 0;
}

.ui-container,
.pages[ui-view]{
  height: 100%;
}

section:nth-child(even){
  background-color: #f6f6f6;
}

section.middle-align{
  height: 115%;
  // @media #{$medium-up}{height: 100%}
  width: 100%;
  display: table;
  position: relative;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
