// bower:scss
// endbower

// Include important shit //
@import 'config';
@import 'foundation/settings';
@import 'normalize';
@import 'foundation'; 
@import 'directives';


// OI! LOOKING FOR GENERAL BODY STYLES & SHIT?
// I PUT THEM HERE:
@import 'generic'; #sorrynotsorry{}

// HERO SECTION ON HOMEPAGE //

.its-a-boy{
  height: 55px;
}

section.hero{
  background: url(../images/hero-beach.png) no-repeat center center;
  background-size: cover;
  color: #fff;

  .top-actions{
    position: absolute;
    right: 1em;
    top: 1em;

    li{
      list-style: none;

      a{
        display: block;
        margin-bottom: .5em;

        width: rem-calc(130px);
        line-height: rem-calc(35px);

        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .75em;
        
        &.get-quote-button{
          border: 1px solid #fff;
          border-radius: 3px;
        }
      }
    }
  }

  > div{

    h1{
      color: #fff;
      margin-top: 0;
      font-weight: 700;
    }

    h3{
      color: #fff;
    }

    p{
      font-weight: 200;
      font-size: rem-calc(18px);
    }

    .fa-angle-down{
      color: #fff;
      @include animation(hoverAnimation, 2s, 0);
    }
  }
}

// TESTIMONIALS ON HOMEPAGE //

section.testimonials{
  background: url(../images/bike-bg.jpg) no-repeat center center;
  @media #{$large-up}{ background-size: cover; }
  color: #fff;

  .item{
    h2{
      color: #fff;
      text-align: center;
      padding: 0 1em;
      font-weight: 100;
      font-style: italic;
      font-size: 1.4em;
    }

    .cite{
      text-align: center;
    }
  }

  .controls{
    text-align: center;
    margin-left: 0;

    li{
      list-style: none;
      display: inline-block;
      width: 29%;
      line-height: 2.5em;
      margin: .5em 2%;
      text-align: center;
      color: $pink;
      background: rgba(255,255,255,.5);

      &.active{
        opacity: .5;
      }
    }
  }
}

// PRODUCTS ON HOMEPAGE //

section.home-products{
  
  .small-title{
    font-size: rem-calc(34px);
    color: #555;
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1;
  }

  .large-title{
    font-size: rem-calc(56px);
    color: #555;
    position: relative;
    line-height: 1;
    margin-bottom: .5em;

    a{
      display: block;
      position: absolute;
      right: 0;
      top: rem-calc(5px);

      color: $pink;
      font-size: rem-calc(14px);
      text-transform: uppercase;

      border: 1px solid $pink;
      border-radius: 2px;
      padding: 11px 20px;
    }
  }

  &.colours{
    .product{
      padding-top: 1em;
      padding-bottom: 1em;
      color: #fff;

      .details{
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        border-radius: 2px;
      }

      &.simpleessentials60   { background-color: $product-orange; }
      &.basic65              { background-color: $product-yellow; }
      &.heartcaremiddle65    { background-color: $product-blue; }
      &.vitality65           { background-color: $product-lilac; }
      &.high65               { background-color: $product-purple; }

      &.simpleessentials60 .details   { background-color: darken($product-orange, 15); }
      &.basic65 .details              { background-color: darken($product-yellow, 15); }
      &.heartcaremiddle65 .details    { background-color: darken($product-blue, 15); }
      &.vitality65 .details           { background-color: darken($product-lilac, 15); }
      &.high65 .details               { background-color: darken($product-purple, 15); }

      &.simpleessentials60 h3   { color: darken($product-orange, 30); }
      &.basic65 h3              { color: darken($product-yellow, 30); }
      &.heartcaremiddle65 h3    { color: darken($product-blue, 30); }
      &.vitality65 h3           { color: darken($product-lilac, 30); }
      &.high65 h3               { color: darken($product-purple, 30); }


    }
  }

  &.pictures{

    .product{
      &.simpleessentials60 h3   { color: $product-orange; }
      &.basic65 h3              { color: $product-yellow; }
      &.heartcaremiddle65 h3    { color: $product-blue; }
      &.vitality65 h3           { color: $product-lilac; }
      &.high65 h3               { color: $product-purple; }
    }

  }
}

// CONTACT ON HOMEPAGE //
section.contact{
  padding-top: 2em;
  padding-bottom: 5em;
}

// WHY US PAGE //

[state="whyus"]{
  section{
    color: #fff;
    h2{ color: #fff; }
    &:nth-child(1){ 
      background: url(../images/bike-bg.jpg) no-repeat center center; 
      @media #{$large-up}{ background-size: cover; }
    }
    &:nth-child(2){ 
      background-color: $purple; 

      .button{ background-color: darken($purple, 20); }
    }
    &:nth-child(3){ 
      background-color: $orange; 

      .button{ background-color: darken($orange, 20); }
    }
    &:nth-child(4){ 
      background-color: $pink; 

      .button{ background-color: darken($pink, 20); }
    }
  }
}

// GET PRICE VIEWS //
.get-price{
  padding-top: 1em;

  label{
    color: #fff;
    padding-top: .7em;
    padding-bottom: .3em;
    font-size: 1.25em;
    font-weight: 200;

    &:nth-child(1){ background-color: $purple; }
    &:nth-child(2){ background-color: $orange; }
    &:nth-child(3){ background-color: $pink; }
    &:nth-child(4){ background-color: $blue; }
    &:nth-child(5){ background-color: $green; }
    &:nth-child(6){ background-color: $product-yellow; }
    &:nth-child(7){ background-color: $purple; }
    &:nth-child(8){ background-color: $orange; }

    input{opacity: 0;}
  }
}

// PRODUCTS VIEW //
.products-page{

  margin-top: 2em;
  
  .loading{
    width: 180px;
    margin: 1em auto;
  }

  .page-title{
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .rn-carousel-container{
    position: relative;

    .rn-carousel-indicator{
      position: fixed;
      top: 0.25rem;
      left: 0;
      background: rgba(255,255,255,0.9);
      height: 1.75em;

      > span{
        font-size: .5em;
        color: rgba(0,0,0,0.3);

        &.active{
          color: rgba(0,0,0,0.8);
        }
      }
    }
  }

  .empty{
    color: #fff;
    background-color: #404040;
    height: 100%;
    > div{
      padding: 1em;
      h2{ color: #fff; }
    }
  } 
}


// JOIN PAGE STYLES //
.join-form{

  margin-top: 1em;

  .first-page{

    .error{
      display: none;
    }

    label{
      visibility: hidden;
      position: absolute;
    }

    > div > p{
      position: relative;
    }
  }

  .ng-invalid + .indicator{ color: $pink }
  .ng-valid   + .indicator{ color: $green }

  .indicator{
    position: absolute;
    z-index: 9;
    right: 0.3em;
    top: -0.45em;
    font-size: 3em;
  }
}

// REVEAL MODAL //
.reveal-modal{
  padding: 1em;
}


// CRAZY FUCKING ANIMATIONS //

// General page animations //

[ui-view]{
  &.ng-enter,
  &.ng-leave{
    transition: all .5s $easeOutExpo;
    transform-origin: center center;
    position: absolute;
  }

  &.ng-enter{
    opacity: 0;
    transform: scale(1.1);
    &.ng-enter-active{
      opacity: 1;
      transform: scale(1);
    }
  }

  &.ng-leave{
    opacity: 1;
    transform: scale(1);
    &.ng-leave-active{
      opacity: 0;
      transform: scale(1.1);
    }
  }
}

// Testimonial in/out animation //


