<ul class="contact-block no-bullet">
	<li><a href="tel:1300 199 802" class="call"><i class="fa fa-phone fa-3x"></i><br> Call us</a></li>
	<li><a href="mailto:customers@health.com.au" class="email"><i class="fa fa-envelope-o fa-3x"></i><br> Email us</a></li>
	<li><a ng-click="openLivechat()" class="livechat"><i class="fa fa-comments-o fa-3x"></i><br> Livechat</a></li>
	<li><a href="https://your.health.com.au/Signin/tabid/180/Default.aspx" class="customers"><i class="fa fa-user fa-3x"></i><br> Customers</a></li>
	<li class="form" ng-class="{ 'form-visible' : formVisible }" ng-init="formVisible = false">
		<form name="call-back" class="small-12 columns" ng-submit="savePhoneNumber()" novalidate>
			<p>If you want, we can give you a call back before the end of the day. Just leave your phone number here!</p>
			<p><input type="tel" name="phone-number" ng-model="contact.phone" required></p>
			<a class="show-form-button" ng-click="showForm()" ng-hide="contact.formVisible">&nbsp;</a>
			<input type="submit" ng-value="contact.formButtonText">
		</form>
	</li>
	<li class="contact-footer">
		<logo></logo><br>
		<p>&copy; HEALTH.COM.AU PTY LTD ALL RIGHTS RESERVED 2014</p>
	</li>
</ul>