<colour-bar></colour-bar>

<section class="hero">
	<div class="top-actions">
		<ul>
			<li><a href="">I'm a customer</a></li>
			<li><a href="" class="get-quote-button">Get a quote</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p class="no-margin"><strong>G'day, we're</strong></p>
			<h1 class="glypha">health.com.au</h1>

			<p>We have made <br>
					health insurance better <br>
					for over 85,000 Australians.</p>

			<p>See how.</p>

			<p><a href="" class="fa fa-angle-down"></a></p>
		</div>
	</div>
</section>

<section class="testimonials">
	<h2>testimonials</h2>
</section>