

<section class="hero middle-align">
	<div class="top-actions">
		<ul>
			<li><a href="">I'm a customer</a></li>
			<li><a ui-sref="products.view" class="get-quote-button">See products</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p class="no-margin"><strong>G'day, we're</strong></p>
			<h1 class="glypha">health.com.au</h1>

			<p>We have made <br>
			health insurance better <br>
			for over 85,000 Australians.</p>

			<p class="no-margin">See how.</p>

			<p class="no-margin"><a href="" class="fa fa-angle-down"></a></p>
		</div>
	</div>
</section>

<section class="testimonials middle-align">
	<div class="table-cell">
		<testimonial-slider items="testimonials"></testimonail-slider>
	</div>
</section>

<section class="reasons">
	<div class="small-6 columns" 
		 ng-repeat="reason in reasons"
		 ng-init="showReason = false" 
		 ng-class="{ 'show-reason' : showReason }" 
		 ng-click="showReason = !showReason">
		 
		<div class="reason">
			<div class="first tk-phoreuscherokee">{{ reason.name }} <br> <i class="fa fa-angle-down"></i></div>
			<div class="second">{{ reason.desc }}</div>
		</div>
		
	</div>
</section>

<section class="home-products colours">
	<div class="row">
		<div class="small-12 columns">
			<p class="small-title">Get cover that suits</p>
			<p class="large-title">YOU <a ui-sref="products.view">See products <i class="fa fa-angle-right"></i></a></p>
		</div>
		<div class="small-12 columns product {{ product.nicename | slugify }}" ng-repeat="product in products" ng-click="seeProduct($index)">
			<h3 class="tk-phoreuscherokee">{{ product.nicename }}</h3>
			<p>{{ product.description }} <span class="min-price">From ${{ product.minimum_price }}/week.</span></p>
		</div>
	</div>
</section>

<section class="middle-align">
	<div class="row">
		<div class="small-12 columns">
			<h3>Let's have a chat!</h3>
	        <p>Give us a call, or live chat with us to discuss what we can do for you.</p>
	        <p>
	          <a href="tel:130000000" class="button">Call us</a> 
	          <a href="sms:+64231231" class="button">SMS us</a>
	        </p>
	        <p>
	          <a class="button">Livechat</a>
	        </p> 
	        <p>
	          <a ui-sref="quote.get" class="button">Get a quote</a>
	        </p>
		</div>
	</div>
</section>