

<section class="hero middle-align">
	<div class="top-actions">
		<ul>
			<li><a href="">I'm a customer</a></li>
			<li><a href="" class="get-quote-button">See products</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p class="no-margin"><strong>G'day, we're</strong></p>
			<h1 class="glypha">health.com.au</h1>

			<p>We have made <br>
			health insurance better <br>
			for over 85,000 Australians.</p>

			<p class="no-margin">See how.</p>

			<p class="no-margin"><a href="" class="fa fa-angle-down"></a></p>
		</div>
	</div>
</section>

<section class="testimonials middle-align">
	<div class="table-cell">
		<testimonial-slider items="testimonials"></testimonail-slider>
	</div>
</section>

<section class="reasons">
	<div class="small-6 columns" 
		 ng-repeat="reason in reasons"
		 ng-init="showReason = false" 
		 ng-class="{ 'show-reason' : showReason }" 
		 ng-click="showReason = !showReason">
		 
		<div class="reason">
			<div class="first">{{ reason.name }} <br> <i class="fa fa-angle-down"></i></div>
			<div class="second">{{ reason.desc }}</div>
		</div>
		
	</div>
</section>

<section class="home-products">
	<div class="row">
		<div class="small-12 columns product" ng-repeat="product in products">
			<p class="no-margin"><small>from ${{ product.minimum_price }}/week</small></p>
			<h3>{{ product.name }}</h3>
			<p>{{ product.description }}</p>
			<p><a ng-click="seeProduct($index)" class="small button">See details</a></p>
		</div>
	</div>
</section>