<div class="row">
	<div class="small-12 columns">
		<h2>You're gonna love your Basic65 health cover</h2>
		<p>Let's get some information off you first.</p>
		<p>
			<label for="name">Name: </label>
			<input type="text" name="name" ng-model="name">
		</p>
		<p>
			<label for="name">Email: </label>
			<input type="email" name="email" ng-model="email">
		</p>
		<p>
			<label for="name">Mobile Number: </label>
			<input type="text" name="phone" ng-model="phone">
		</p>
	</div>
	<footer class="small-12 columns">
		<a class="button" ui-sref="join.license">Next: ID</a>
	</footer>
</div>

