<div class="row">
	<div class="small-12 columns">
		<div ng-show="!isAlternateText">
			<h2>Is the address on this license your current address?</h2>
			<p>
				<button type="button" class="button" ng-click="closeModal()">Yes</button>
				<button type="button" class="button" ng-click="isAlternateText = true;">No</button>
			</p>
		</div>

		<div ng-show="isAlternateText">
			<h1>Please enter your current address</h1>
			<p><input type="text" name="correctAddress" ng-model="correctAddress" value="" /></p>
			<p>
				<button type="button" class="button" ng-click="closeModal(correctAddress)">Confirm</button>
			</p>	
		</div>	
	</div>
</div>
