<div class="row">
	<div class="small-12 columns">
		<h2>You're gonna love your Basic65 health cover</h2>
		<p>Let's get some information off you first.</p>
		<p>
			<label for="name">Name: </label>
			<span>{{u.name}}</span>
		</p>
		<p>
			<label for="name">Email: </label>
			<span>{{u.email}}</span>
		</p>
		<p>
			<label for="name">Mobile Number: </label>
			<span>{{u.phone}}</span>
		</p>
		<p ng-show="u.images.length != 0">
			<img ng-repeat="image in u.images" ng-src="{{image}}" heigth="100" width="100" />
		</p>
		<p ng-show="u.alternateText">
			<label for="name">Alternate Message: </label>
			<span>{{u.alternateText}}</span>
		</p>	
	</div>
	<footer class="small-12 columns">
		<button class="button" type="submit">Confirm</button>
		<span ng-show="formInvalid">Please check your inputs</span>
	</footer>
</div>

