<div class="select">
	<header class="small-12 columns">
		<h3>{{ page.title }}</h3>
		<p ng-show="page.desc">{{ page.desc }}</p>
	</header>
	<div class="choices">
		<label
			class="small-12 columns" 
			ng-repeat="option in page.options" 
			for="{{page.type}}-{{ option.value | lowercase }}" 
			ui-sref="{{page.next}}({ {{ page.type }} : option.value })"
			ng-class="{ 'selected' : personParams.selections[page.type] === option.value }">
			{{ option.label }}
			<input 
				type="radio" 
				ng-model="personParams.selections[page.type]" 
				value="{{ option.value }}" 
				id="{{page.type}}-{{ option.value | lowercase }}" 
				name="{{page.type}}-{{ option.value | lowercase }}">
		</label>
	</div>
</div>