<nav class="bottom bar">
  <ul>
    <li ui-sref-active="active"><a ui-sref="home">
      <i class="fa fa-home"></i>
      Home
    </a></li>

    <li ui-sref-active="active"><a ui-sref="whyus">
      <i class="fa fa-question-circle"></i>
      Why Us
    </a></li>

    <li ui-sref-active="active"><a ui-sref="products.view">
      <i class="fa fa-leaf"></i>
      Products
    </a></li>

    <li ui-sref-active="active"><a ui-sref="contact">
      <i class="fa fa-phone"></i>
      Contact
      </a></li>
  </ul>
</nav>