<div class="product-card directive {{ product.nicename | slugify }}">
	<div class="mask" ng-class="{ 'detailsVisible' : showDetails }">
		<div class="summary">
			<header class="small-12 columns">
				<h2 class="tk-phoreuscherokee">{{product.nicename}}</h2>
			</header>
			<div class="short-desc small-12 columns">
				{{product.description}}
				<!-- <p>
					This covers everything except for: 
					<span ng-repeat="h in hospitals('notcovered') | limitTo:3 ">{{ h.type }}, </span>
					and {{ hospitals('notcovered').length - 3 }} others services.
				</p> -->

				<h4 ng-class="{ 'priced' : priced }">{{ weeklyPrice() }}/week <span ng-click="priceDetail()">?</span></h4>
				<p>
					<a ng-hide="priced" ng-click="getUserDetails()" class="button">Quote me</a>
					<a ng-show="priced" ng-click="joinNow()" class="button">Join</a>
				</p>
			</div>
		</div>
		<div class="details">
			<tabset>
				<tab heading="Hospital">
					<p>This product covers EVERYTHING but:</p>
					<ul class="notcovered no-bullet">
						<li ng-repeat="h in hospitals('notcovered')"><i class="fa fa-times"></i> {{ h.type }}</li>
					</ul>
					<p>This product has rerestricted cover for:</p>
					<ul class="restricted no-bullet">
						<li ng-repeat="h in hospitals('restrictedcover')"><i class="fa fa-exclamation-triangle"></i> {{ h.type }}</li>
					</ul>
					<p>This product covers:</p>
					<ul class="covered no-bullet">
						<li ng-repeat="h in hospitals('covered')"><i class="fa fa-check"></i> {{ h.type }}</li>
					</ul>
				</tab>
				<tab heading="Extras">
					<table>
						<thead>
							<tr>
								<th>Extra</th>
								<th>Limit</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="extra in product.extras">
								<td>{{ extra.type }}</td>
								<td>${{ extra.allowance | number }}</td>
							</tr>
						</tbody>
					</table>
				</tab>
			</tabset>
		</div>
	</div>
	
	<!-- <div class="switch">
		<a class="button" ng-click="showInfo('summary')">Summary</a>
		<a class="button" ng-click="showInfo('details')">Details</a>
	</div> -->
</div>