<div class="product directive">
	<div class="mask" ng-class="{ 'detailsVisible' : showDetails }">
		<div class="summary">
			<header>
				<h2>{{product.name}}</h2>
				<h4>${{ weeklyPrice() }}/week</h4>
			</header>
			<div class="short-desc">
				{{product.description}}
				<p>
					This covers everything except for: 
					<span ng-repeat="h in hospitals('notcovered') | limitTo:3 ">{{ h.type }}, </span>
					and {{ hospitals('notcovered').length - 3 }} others services.
				</p>
				<p>
					<a ng-hide="priced" ng-click="getUserDetails()" class="button">Get exact price</a>
					<a ng-show="priced" ng-click="joinNow()" class="button">Buy now</a>
				</p>
			</div>
		</div>
		<div class="details">
			<tabset>
				<tab heading="Hospital Cover">
					<p>This product does not cover:</p>
					<ul class="notcovered no-bullet">
						<li ng-repeat="h in hospitals('notcovered')"><i class="fa fa-times"></i> {{ h.type }}</li>
					</ul>
					<p>This product has rerestricted cover for:</p>
					<ul class="restricted no-bullet">
						<li ng-repeat="h in hospitals('restrictedcover')"><i class="fa fa-exclamation-triangle"></i> {{ h.type }}</li>
					</ul>
					<p>Some of the things it does cover:</p>
					<ul class="covered no-bullet">
						<li ng-repeat="h in hospitals('covered')"><i class="fa fa-check"></i> {{ h.type }}</li>
					</ul>
				</tab>
				<tab heading="Extras">
					<table>
						<thead>
							<tr>
								<th>Extra</th>
								<th>Limit</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="extra in product.extras">
								<td>{{ extra.type }}</td>
								<td>${{ extra.allowance | number }}</td>
							</tr>
						</tbody>
					</table>
				</tab>
			</tabset>
		</div>
	</div>
	
	<!-- <div class="switch">
		<a class="button" ng-click="showInfo('summary')">Summary</a>
		<a class="button" ng-click="showInfo('details')">Details</a>
	</div> -->
</div>