<section class="happy-customers middle-align">
	<div class="row">
		<div class="small-12 columns">
			<h2>Why us? We've got the happiest customers!</h2>
			<p><img src="images/service-rage.svg" class="service-rage right" width="100px" alt=""> We are really proud to say that we won the Service Rage Customer Award for 2014. </p>
			<p>At health we have a simple philosophy: if you're happy, we're happy. That's why we reinvented health insurance and made it work for you. </p>
			<p></p>
		</div>
	</div>
</section>

<section class="middle-align">
	<div class="row">
		<div class="small-12 columns">
			<h2>Simple is the best policy</h2>
			<p>Our policies have been designed so you are covered when you need it and you don't pay for stuff you don't use. </p>

			<p>Get more $ back every time you claim on Extras and have the freedom to choose the healthcare professional you are most comfortable with.</p>

			<p><a ui-sref="products.view" class="radius rounded button">Get covered now</a></p>
		</div>
	</div>
</section>

<section class="middle-align">
	<div class="row">
		<div class="small-12 columns">
			<h2>Claiming made easy</h2>
			<p>On-the-spot claiming at your healthcare appointments plus 24/7 online claiming. It's that easy. </p>
			<a ui-sref="products.view" class="radius rounded button">Find out how</a>
		</div>
	</div>
</section>

<section class="middle-align">
	<div class="row">
		<div class="small-12 columns">
			<h2>Do you love online?</h2>
			<p>Like you, we love the efficiency of the web. That means no snail mail, no complicated paperwork and definitely no standing in queues. Our aim is that you can do it all online whenever you want. </p>
			<a ui-sref="get-price.policy" class="radius rounded button">Join now</a>
		</div>
	</div>
</section>


<section class="contact">
	<div class="row">
		<div class="small-12 columns">
			<contact-block></contact-block>
		</div>
	</div>
</section>