<div class="product">
	<header>
		<h2>{{product.name}}</h2>
	</header>
	<div class="summary">
		{{product.description}}

		<p>
			This covers everything except for: 
			<span ng-repeat="h in hospitals('notcovered')">{{ h.type }}, </span>
		</p>
	</div>
	<div class="details">
		<tabset>
			<tab heading="Hospital Cover">
				<p>This product does not cover:</p>
				<ul class="notcovered">
					<li ng-repeat="h in hospitals('notcovered')">{{ h.type }}</li>
				</ul>
				<p>This product has rerestricted cover for:</p>
				<ul class="restricted">
					<li ng-repeat="h in hospitals('restrictedcover')">{{ h.type }}</li>
				</ul>
				<p>Some of the things it does cover:</p>
				<ul class="covered">
					<li ng-repeat="h in hospitals('covered')">{{ h.type }}</li>
				</ul>
			</tab>
			<tab heading="Extras">
				<table>
					<thead>
						<tr>
							<th>Extra</th>
							<th>Limit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="extra in product.extras">
							<td>{{ extra.type }}</td>
							<td>${{ extra.allowance | number }}</td>
						</tr>
					</tbody>
				</table>
			</tab>
		</tabset>
	</div>
	<div class="switch">
		<a ng-click="showSummary()">Summary</a>
		<a ng-click="showDetails()">Details</a>
	</div>
</div>